<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="A complete landing page solution for any business">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="static/img/favicon/favicon.ico">
      <title> ZenGrid | Green Energy Blockchain</title>
      <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700%7COpen+Sans:400,600,700" rel="stylesheet">
      <link rel="stylesheet" href="static/vendor/strokegap/style.css">
      <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="static/vendor/linearicons/style.css">
      <link rel="stylesheet" href="static/vendor/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/vendor/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="static/vendor/fancybox/dist/jquery.fancybox.min.css">
      <link rel="stylesheet" href="static/vendor/animate/animate.min.css">
      <link rel="stylesheet" href="static/css/style.css">
   </head>
   <body id="top">
      
      <header class="header header-shrink header-inverse fixed-top">
         <div class="container">
            <nav class="navbar navbar-expand-lg px-md-0">
               <a class="navbar-brand" href="index.html">
               <span class="logo-default">
               <h2 class="logo-brand-color">ⱿenGrid</h2>
               </span>
               <span class="logo-inverse">
               <h2 class="logo-brand-color-inverse">ⱿenGrid</h2>
               </span>
               </a>
               <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                  <div class="hamburger hamburger--spin js-hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
                  </div>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="#" data-scrollto="top">HOME</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="about">about</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="features">FEATURES</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="screenshot">SCREENSHOTS</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="reviews">REVIEWS</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="faq">FAQ</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="blog">Blog</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link btn btn btn-rounded btn-green u-w-160 ml-lg-4 text-capitalize" href="#" data-scrollto="download">Download Now</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <section class="u-py-100 u-h-100vh u-flex-center" style="background-color:#F6F9FC">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 mt-6">
                  <h1 class="display-3 u-fw-600">
                     ⱿenGrid
                  </h1>
                  <p class="u-fs-22 u-lh-1_7 u-py-40">
                     Peer-to-peer energy commerce on the <b>Ethereum Blockchain.</b>

                     We brought the <b>ZNG Token</b> to life so independent energy producers wolrdwide are able to track, monitor and commercialize their renewable energy production.
                  </p>
                  <a href="#" class="btn btn btn-rounded btn-blue u-w-160">
                  Download Now
                  </a>
                  <a href="#contact" class="btn btn btn-rounded btn-green ml-3 u-w-160">
                  Test our Chain
                  </a>
               </div>
               <div class="col-lg-4 ml-auto text-center mt-5">
                  <img src="static/img/app/s-1.png" alt="">
               </div>
            </div>
         </div>
         <div class="u-pos-abs u-bottom-0 u-z-index-minus-1 u-left-0">
            <img src="static/img/app/curve2.png" alt="">
         </div>
      </section>
      <section id="about">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-5 text-center">
                  <img class="wow fadeInLeft" src="static/img/app/s-2_1.png" alt="">
               </div>
               <div class="col-lg-6 ml-auto">
                  <h2 class="h1">
                     No worries, just gains
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
                  <p class="mb-5">
                    Our simple and succinct UX enables you to easy operate on the clean energy market. Pay less, anonymously and without being hassled by middlemen. Join the Blockchain Revolution and go green!
                  </p>
                  <a href="#" class="btn btn btn-rounded btn-green px-4">
                  <i class="fa fa-apple mr-1"></i>
                  App Store
                  </a>
                  <a href="#" class="btn btn btn-rounded btn-pink ml-3 px-4">
                  <i class="fa fa-android mr-1"></i>
                  Play Store
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section class="main-bg-back-1">
        
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <h2 class="h1 text-white">
                     How <span class="color-primary">ⱿenGrid</span> Really Works
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
                  <p class="mb-5">
                    Each user owns an Ethereum Wallet. Independent energy generators recieve tokens though IoT validation, which can be negotiated with anyone on the web! Offer prices are calculated dinamically based on local fare and distance, but you can count on our AI to determine the best deals for you ;)
                  </p>
                  <ul class="list-unstyled u-fw-600 u-lh-2">
                     <li>
                        <i class="fa fa-check mr-2 color-primary"></i>
                        Professional and easy to use software
                     </li>
                     <li>
                        <i class="fa fa-check mr-2 color-primary"></i>
                        Secure, transparent and decentralized
                     </li>
                     <li>
                        <i class="fa fa-check mr-2 color-primary"></i>
                        Up to 20% lower energy prices
                     </li>
                     <li>
                        <i class="fa fa-check mr-2 color-primary"></i>
                        Own your energy
                     </li>
                  </ul>
               </div>
               <div class="col-lg-6 pl-lg-5 ml-auto text-center">
                  <img class="wow fadeInRight" src="static/img/app/s-3_1.png" alt="">
               </div>
            </div>
         </div>
      </section>
      <section id="features">
         <div class="container">
            <div class="row text-center">
               <div class="col-12">
                  <h2 class="h1">
                     Awesome Features
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-green text-white rounded-circle m-auto">
                        <span class="icon icon-Tools u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Powerfull Features
                     </h4>
                     <p>
                        We brought the robustness of the ECR20 Token structure together with Python Stack's speed and agility.
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
                        <span class="icon icon-Starship2 u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Awesome Design
                     </h4>
                     <p>
                        Be simple.
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-yellow text-white rounded-circle m-auto">
                        <span class="icon icon-MessageLeft u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Unlimited Support
                     </h4>
                     <p>
                        You can count with our AI chatbots anytime, but in case of emergencies just contact us.
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
                        <span class="icon icon-Notebook u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Fully Responsive
                     </h4>
                     <p>
                        Triple redundancy? Outsorced  middleware? Dino stacks? Nah, just Python and Blockchain.
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-red text-white rounded-circle m-auto">
                        <span class="icon icon-Bulb u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Sustainable
                     </h4>
                     <p>
                       We can prevent more than 14% of energy transmission losses through out pathing algorythm.
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 u-mt-30">
                  <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
                     <div class="u-w-90 u-h-90 u-flex-center bg-purple text-white rounded-circle m-auto">
                        <span class="icon icon-Magnet u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 u-pt-30 u-pb-20">
                        Fair fare
                     </h4>
                     <p>
                        Our private price auditing system is here to ensure no one rigs the system.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="screenshot" class="bg-dark-grey">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1">
                     Simple app with everything you need for your renewable energy distribution
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 px-0">
                  <ul class="p-0" data-gallery="img-gallery" data-init="carousel" data-slick='{ "slidesToShow":3, "slidesToScroll":3, "infinite":false, "dots":true, "arrows":false, "dotsClass":"slick-dots text-center mt-4",
                     "responsive": [
                     { 
                     "breakpoint":1024,
                     "settings":{
                     "slidesToScroll":1,
                     "slidesToShow": 2
                     }
                     },
                     { 
                     "breakpoint":600,
                     "settings":{
                     "slidesToScroll":1,
                     "slidesToShow": 1
                     }
                     }						
                     ]
                     }'>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-1.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-1.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-2.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-2.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-1.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-3.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-2.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-4.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-1.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-5.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-2.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-1.png" alt="">
                        </a>
                     </li>
                     <li class="mx-3 my-4">
                        <a href="static/img/app/slide-sc-3.png" class="gallery-img-item">
                        <img class="box-shadow-v1" src="static/img/app/slide-sc-3.png" alt="">
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section data-init="parallax" class="main-bg-back-2">
         <div class="overlay bg-blue-opacity"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1 text-white u-mb-40">
                     Watch video about microgrid infrastructure 
                  </h2>
                  <a href="https://www.youtube.com/watch?v=ATqA6rFWuiQ" data-init="popup-video" target="_blank">
                  <span class="icon icon-Play u-fs-48 u-fs-md-72 text-white"></span>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section id="reviews">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1">
                     What They Said
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 u-mt-80 text-center">
                  <div data-init="carousel" data-slick='{
                     "slidesToShow":2,
                     "slidesToScroll": 1,
                     "arrows":true,
                     "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                     "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
                     "responsive": [
                     { 
                     "breakpoint":1024,
                     "settings":{
                     "slidesToShow": 2,
                     "arrows":false,
                     "dots":true 
                     }
                     },
                     { 
                     "breakpoint":600,
                     "settings":{
                     "slidesToShow": 1,
                     "arrows":false,
                     "dots":true 
                     }
                     }						
                     ]
                     }' data-slick-margin="15">
                     <div class="p-5 bg-green rounded box-shadow-v1 my-4">
                        <img class="rounded-circle u-w-70 mx-auto mb-4" src="static/img/person/1.jpg" alt="">
                        <h4 class="text-white">
                           David Suzuki
                        </h4>
                        <p class="text-muted">
                           Director
                        </p>
                        <p class="text-white">
                              If we put all our energy and resources into continued fossil fuel extraction, we will have lost an opportunity to have invested in renewable energy.
                        </p>
                     </div>
                     <div class="p-5 rounded box-shadow-v1 my-4">
                        <img class="rounded-circle u-w-70 mx-auto mb-4" src="static/img/person/4.jpg" alt="">
                        <h4>
                           Alex Hunter
                        </h4>
                        <p class="text-muted">
                           Investor
                        </p>
                        <p>
                        São Paulo's main energy distributor loses more thank 5% of its resources due to centralized pathing every moment.   
                        </p>
                     </div>
                     <div class="p-5 bg-green rounded box-shadow-v1 my-4">
                        <img class="rounded-circle u-w-70 mx-auto mb-4" src="static/img/person/2.jpg" alt="">
                        <h4 class="text-white">
                           David Case
                        </h4>
                        <p class="text-muted">
                           Designer
                        </p>
                        <p class="text-white">
                        ZenGrid made our building's production way more rentable and we now can improve our community.   
                        </p>
                     </div>
                     <div class="p-5 rounded box-shadow-v1 my-4">
                        <img class="rounded-circle u-w-70 mx-auto mb-4" src="static/img/person/3.jpg" alt="">
                        <h4>
                           Kenelia Deshmukh
                        </h4>
                        <p class="text-muted">
                           Influencer
                        </p>
                        <p>
                           Go Green!
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="faq" class="bg-gray-v1">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1">
                     Frequently Asked Questions
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 mt-4">
                  <div id="accordion" role="tablist" class="bg-white box-shadow-v3">
                     <div class="accordion__faq">
                        <a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
                        <i class="fa fa-angle-down mr-3"></i>
                        Where can I get more details about your security practices?
                        </a>
                        <div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              You can follow us on Instagram!
                           </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4" data-toggle="collapse" href="#acc2">
                        <i class="fa fa-angle-down mr-3"></i>
                        Do I need a Mobile phone to use your service?
                        </a>
                        <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Not at all, you can use our webapp as well.
                                 </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4" data-toggle="collapse" href="#acc3">
                        <i class="fa fa-angle-down mr-3"></i>
                        Is it possible to "sell" energy in premium marketplace?
                        </a>
                        <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Yes, the only requirement of our platform is that you have to use ZNG for transactions.</div>
                        </div>
                     </div>
                  </section>
                  </div>
               </div>
            </div>
         </div>
          <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <!-- Heading Text  -->
                     <div class="section-heading">
                         <h2>Test our ZNG Token Faucet!</h2>
                         <div class="line-shape"></div>
                     </div>
                     <div class="footer-text">
                         <p>Insert your name, e-mail and address so you can recieve tokens and block data</p>
                     </div>
                     <div class="address-text">
                         <p><span>Address:</span> </p>
                     </div>
                     <div class="phone-text">
                         <p><span>Hash:</span> </p>
                     </div>
                     <div class="email-text">
                         <p><span>Ammount: <br>
                        Rate:</span></p>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <!-- Form Start-->
                     <div class="contact_from">
                         <form action="#" method="post">
                             <!-- Message Input Area Start -->
                             <div class="contact_input_area">
                                 <div class="row">
                                     <!-- Single Input Area Start -->
                                     <div class="col-md-12">
                                         <div class="form-group">
                                             <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                                         </div>
                                     </div>
                                     <!-- Single Input Area Start -->
                                     <div class="col-md-12">
                                         <div class="form-group">
                                             <input type="email" class="form-control" name="email" id="email" placeholder="Your e-mail" required>
                                         </div>
                                     </div>
                                     <!-- Single Input Area Start -->
                                     <div class="col-12">
                                         <div class="form-group">
                                             <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Ether Wallet Address" required></textarea>
                                         </div>
                                     </div>
                                     <!-- Single Input Area Start -->
                                     <div class="col-12">
                                         <button type="submit" class="btn btn-rounded btn-green u-h-55" id = "butt">Get ZNG</button>
                                     </div>
                                 </div>
                             </div>
                             <!-- Message Input Area End -->
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- ***** Contact Us Area End ***** -->
      <section id="download" class="pb-0 main-bg-back-3">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 align-self-end order-2 order-lg-1 text-center">
                  <img class="box-shadow-v3" src="static/img/app/s-1.png" style="height:500px" alt="">
               </div>
               <div class="col-lg-6 text-white order-lg-2 mb-5">
                  <h2 class="h1 text-white">
                     Download the App Today!
                  </h2>
                  <div class="u-h-4 u-w-50 bg-white rounded mt-4 u-mb-40"></div>
                  <p>
                    It's free! We only change the returns on what you save (a very, very, tiny bit).
                                    </p>
                  <p class="text-yellow mb-0 mt-5">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star-half"></i>
                  </p>
                  <p class="u-fs-15 mb-5">
                     Based on 5+ reviews
                  </p>
                  <a href="#" class="btn btn btn-rounded btn-blue px-4">
                  <i class="fa fa-apple mr-1"></i>
                  App Store
                  </a>
                  <a href="#" class="btn btn btn-rounded btn-green ml-3 px-4">
                  <i class="fa fa-android mr-1"></i>
                  Play Store
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section class="bg-dark-grey u-py-100">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-3 col-md-6 u-my-20">
                  <div class="bg-white box-shadow-v1 u-ff-dosis u-py-40 rounded">
                     <h4 class="mb-0 u-fs-36 u-fw-400">
                        1000+
                     </h4>
                     <p class="u-fs-20">
                        Total Downloads
                     </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 u-my-20">
                  <div class="bg-white box-shadow-v1 u-ff-dosis u-py-40 rounded">
                     <h4 class="mb-0 u-fs-36 u-fw-400">
                        5+
                     </h4>
                     <p class="u-fs-20">
                        Users Reviews
                     </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 u-my-20">
                  <div class="bg-white box-shadow-v1 u-ff-dosis u-py-40 rounded">
                     <h4 class="mb-0 u-fs-36 u-fw-400">
                        265
                     </h4>
                     <p class="u-fs-20">
                        Installs
                     </p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 u-my-20">
                  <div class="bg-white box-shadow-v1 u-ff-dosis u-py-40 rounded">
                     <h4 class="mb-0 u-fs-36 u-fw-400">
                        128
                     </h4>
                     <p class="u-fs-20">
                        Subscribers
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer class="footer-bg-back">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="bg-black box-shadow-v1 rounded p-5">
                     <h2 class="h1 text-center text-white">
                        Subscribe to Our Newsletter
                     </h2>
                     <form class="form-inline justify-content-center my-5 subsribe-rounded">
                        <div class="form-group">
                           <input type="email" class="form-control px-4 u-rounded-50 u-h-55" placeholder="Enter your email address">
                        </div>
                        <button type="submit" class="btn btn-rounded btn-green u-h-55">
                        Subscribe Now
                        </button>
                     </form>
                  </div>
               </div>
               <div class="col-12 text-center u-py-60">
                   <h2 class="logo-brand-footer">ⱿenGrid</h2>
                  <ul class="list-inline social social-rounded mt-4">
                     <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="row align-items-center" style="border-top:1px solid #c3f4df;color:#c3f4df">
               <div class="col-lg-6 py-4 text-center text-lg-left">
                  <span>© Copyright 2018 - Created by <a target="_blank" href="http://devdap.com">canokaue</a></span>
               </div>
               <div class="col-lg-6 py-4">
                  <ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right">
                     <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 p-2" href="#">HOME</a>
                     </li>
                     <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 p-2" href="#">elements</a>
                     </li>
                     <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 p-2" href="#">about</a>
                     </li>
                     <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 p-2" href="#">BLOG</a>
                     </li>
                     <li class="list-inline-item">
                        <a class="text-uppercase u-fw-600 p-2" href="#">CONTACT</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <div class="scroll-top bg-white box-shadow-v1">
         <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div>
      <script src="static/js/bundle.js"></script>
      <script src="static/js/devdap.js"></script>
   </body>
</html>